.header {
    margin: 30px 0 60px 0;
    border-radius: 30px;
    padding: 17px;

    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 3.6em;

    &__span {
        background-color: #BFEE61;
        padding: 5px 10px;
        border-radius: 20px;
        color: #000;
        font-weight: 600;
    }
}

.datetime {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 50px;

    font-size: 1.8em;
}

.goback {
    background-color: transparent;
    font-size: 1.8em;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}