.main {

    display: flex;
    justify-content: space-between;

    &__text {
        font-size: 2.4em;
        margin-bottom: 20px;
    }

    &__left {
        display: flex;
        flex-direction: column;
        width: 50%;
        border-radius: 20px;
        margin-right: 20px;

        &_top {
            color: #000;
            padding: 80px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background: #BFEE61;
        }

        &_bottom {
            margin-top: 20px;
            border-radius: 20px;
            background: #1E1E1E;
            padding: 30px;

            &_text {
                font-size: 2.4em;
                margin-bottom: 30px;
            }
        }

        &_info {
            border-radius: 100%;
            border: 9px solid #000;

            width: 350px;
            height: 350px;
            
            aspect-ratio: 1;
            position: relative;
            display: inline-grid;
            place-content: center;

            &::before {
                content: "";
                position: absolute;
                border-radius: 50%;
                inset:-10px;
                background: conic-gradient(#fff calc(var(--p)*1%),#0000 0);
                -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - 5%),#000 calc(100% - 5%));
                        mask:radial-gradient(farthest-side,#0000 calc(99% - 5%),#000 calc(100% - 5%));
                        -webkit-animation: 2s ease-in 0s diagramm both;
                        -moz-animation: 2s ease-in 0s diagramm both;
                          -o-animation: 2s ease-in 0s diagramm both;
                             animation: 2s ease-in 0s diagramm both;
            }

            &_number {
                text-align: center;
                font-size: 12em;
                font-weight: 500;
                line-height: 150px;
            }

            &_text {
                font-size: 1.8em;
                text-align: center;
            }
        }
    }

    &__right {
        border-radius: 20px;
        background: #1E1E1E;
        width: 50%;
        padding: 30px;
    }

    // &__staff {
    //     display: flex;
    //     flex-direction: column;

    //     &_text {
    //         font-size: 2.4em;
    //         margin-left: 40px;
    //     }

    //     &_person {
    //         display: flex;
    //         align-items: center;
    //         margin-bottom: 20px;
    //     }
    // }
}

@property --p{
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

@-webkit-keyframes diagramm { from { --p:0 } to { --p: 60}  }
   @-moz-keyframes diagramm { from { --p:0 } to { --p: 60 }  }
     @-o-keyframes diagramm { from { --p:0 } to { --p: 60 }  }
        @keyframes diagramm { from { --p:0 } to { --p: 60 }  }

.fields {
    margin-top: 60px;

    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 36px;
        margin-top: 50px;

        & input {
            border-radius: 30px;
            background: rgba(255, 255, 255, 0.15);
            padding: 15px 30px;
            border: none;
            outline: none;
            color: #FFF;
            font-size: 2.4em;
            font-family: Inter !important;
            font-weight: 400 !important;
            width: 350px;

            &::placeholder {
                color: #FFF;
                font-size: 0.9em;
                font-family: Inter !important;
                font-weight: 400 !important;
            }
        }

        &_buttonDeposit {
            background: #BFEE61;
            color: #000;
            border: 1px solid #BFEE61;

            &:hover {
                background: transparent;
                color: #fff;
            }
        }

        &_buttonWithdraw {
            background: #363636;
            color: #fff;
            border: 1px solid #363636;

            &:hover {
                background: transparent;
                color: #fff;
            }
        }

        &_buttons {
            display: flex;
            gap: 36px;

            & button {
                border-radius: 30px;
                outline: none;
                font-size: 2.4em;
                font-family: Inter !important;
                font-weight: 400;
                padding: 15px 35px;
                cursor: pointer;
                transition: .2s;
            }
        }
    }
}