body {
    background: #101010;
    background-repeat: no-repeat;
    background-size: 100%;
    color: #FFF;
    font-size: 10px;
    font-family: 'Inter', sans-serif;
    padding-bottom: 60px;
}

.container {
    width: 1600px;
    margin: 0 auto;
}

.title {
    font-size: 3.6em;
    font-family: Inter;
    font-weight: 400;
    margin-top: unset;
}

.text {
    font-size: 2.4em;
    margin-bottom: 20px;
}

.label {
    font-size: 2em;
    font-weight: 300;
}

.button {
    margin-top: 20px;
    width: 240px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 30px;
    background: linear-gradient(90deg, rgba(54,54,54,1) 0%, rgba(54,54,54,1) 100%);
    outline: none;
    border: none;
    color: #808080;
    font-family: Inter;
    font-weight: 300 !important;
    font-size: 2.4em;
    cursor: pointer;
}

.button[click='1'] img {
    animation: icon linear 0.2s both;
}

.button[click='1'] {
    animation: button linear 0.23s both;
}

@keyframes icon {
    25% {
        transform: translate(45px, 0) rotate(30deg);
    }
    50% {
        transform: translate(90px, 0) rotate(60deg);
    }
    75% {
        transform: translate(135px, 0) rotate(90deg);
    }
    100% {
        transform: translate(180px, 0px) rotate(120deg);
    }
}

@keyframes button {
    25% {
        background: linear-gradient(90deg, rgba(191,238,97,0.2) 0%, rgba(54,54,54,1) 100%);
        color: #808080;
    }
    50% {
        background: linear-gradient(90deg, rgba(191,238,97,0.5) 2%, rgba(54,54,54,1) 100%);
        color: transparent;
    }
    75% {
        background: linear-gradient(90deg, rgba(191,238,97,0.7) 5%, rgba(54,54,54,1) 100%);
        color: transparent;
    }
    100% {
        background: linear-gradient(90deg, rgba(191,238,97,1) 10%, rgba(191,238,97,1) 30%);
        color: transparent;
    }
}

.row__center {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}