body {
    background: #101010;
    background-repeat: no-repeat;
    background-size: 100%;
    color: #FFF;
    font-size: 10px;
    font-family: Montserrat Alternates;
}

.container {
    width: 1600px;
    margin: 0 auto;
}

.title {
    font-size: 3.6em;
    margin-top: unset;
    margin-bottom: 45px;
}

.text {
    font-size: 2.4em;
    margin-bottom: 20px;
}