body {
    background: linear-gradient(135deg, rgb(25, 69, 189) 0%, rgb(65, 27, 168) 33%, rgb(94, 14, 131) 66%, rgb(104, 18, 100) 100%);
    background-repeat: no-repeat;
    background-size: 100% 500%;
    color: #FFF;
    font-size: 10px;
    font-family: Montserrat Alternates;
}

.container {
    width: 1400px;
    margin: 0 auto;
}