.profile {
    display: flex;
}

.left {
    width: 50%;
    margin-right: 20px;
}

.right {
    width: 50%;
    padding: 30px;
    background: #1E1E1E;
    border-radius: 20px;
}

.info {
    display: flex;
    margin-bottom: 50px;

    &__top {
        padding: 30px 30px 10px 30px;
        margin-bottom: 20px;
        background: #1E1E1E;
        border-radius: 20px;
    }

    &__bottom {
        padding: 30px;
        background: #1E1E1E;
        border-radius: 20px;
    }

    &_left {
        width: 50%;
    }

    &_right {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    object-fit: cover;
    border: 2px solid #fff;
}

.actions {
    display: flex;
    font-size: 2.4em;
    margin-bottom: 40px;

    &__date {
        margin-right: 60px;
    }
}

.switch {
    display: inline-block;
    height: 30px;
    position: relative;
    width: 60px;

    & input {
        display:none;
    }

    & input:checked + .slider {
        background-color: #BFEE61;
      }

    & input:checked + .slider:before {
        transform: translateX(26px);
        background-color: #2B2B2B;
    }
}
.slider {
    background-color: #2B2B2B;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
    
    &:before {
    background-color: #BFEE61;
    bottom: 4px;
    content: "";
    height: 22px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 22px;
    }

    &.round {
        border-radius: 34px;

        &:before {
            border-radius: 50%;
        }
    }
}
  
.checkbox {
    display: flex;
    align-items: center;
    gap: 20px;
}

.input {
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.15);
    font-family: Inter;
    font-weight: 300 !important;
    width: 500px;
    position: relative;

    & a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        border-radius: 100%;
        background-color: #fff;
        transition: .2s;

        &:hover {
            background-color: #BFEE61;
        }
    }
    & input {
        padding: 15px;
        width: 100%;
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 2em;
        color: #fff;
        margin-left: 30px;

        &::placeholder {
            color: #808080;
        }
    }
}

.search-bar a {
    position: absolute;
    left: -205px;
}